@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.App {
  display:flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
}

.Header {
  text-shadow: none;
  transition: text-shadow 0.5s ease-in-out, rgb(99, 98, 98) 0.5s ease-in-out;
  color: black;

}

.Header:hover {
  text-shadow: 2px 2px 5px black;
}