.section {
    border: 2px solid purple;
    width: 400px;
    height: 100px;
    min-height: max-content;
    border-radius: 25px;
    padding: 10px;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

input {
    height: 20px;
    border-radius: 5px;

}