.section {
    border-bottom: 2px solid black;
    width: 400px;
    height: 100px;
    min-height: max-content;
    min-height: max-content;
    
    padding: 10px;
}

.experience {
    border-bottom: 0px;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

input {
    height: 20px;
    border-radius: 5px;
    padding: 5px;

}

.bullet-container {
    display: flex;
    min-width: max-content;
    gap: 2px;
}

.AddSection {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}