
.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 100%;
    margin: 0px;
}

.Heading {
  text-shadow: none;
  transition: text-shadow 0.5s ease-in-out, rgb(0, 0, 0) 0.5s ease-in-out;
  color: black;
  

}

.Heading:hover {
  text-shadow: 1px 1px 3px black;
}