.resume-container {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    width: 8.5in;
    height: 11.5in;
    border: 1px solid grey;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 50px auto;

}