.resume-container {
    overflow-wrap: break-word;
    overflow-y: hidden;
    word-break: break-word;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    width: 8.5in;
    height: 11in;
    
    border: 1px solid grey;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    position: sticky;
    top: 24px; /* space from top */
    align-self: flex-start;
}