.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 3px;
}

a {
    color: black;
}

.container {
    margin: 15px;
}
.heading {
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid grey;
    margin: 0px;
}

.bold {
    font-size: 16px;
    font-weight: 600;
}

.italic {
    font-style: italic;
    font-weight: 350;
}

.section-field {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px
}

ul {
    margin-top: 5px;
    padding: 0px;
    padding-left: 15px;
}