.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 {
    margin-bottom: 3px;
}

a {
    color: black;
}

.container {
    margin: 5px 10px 5px 10px;
   
}
.heading {
    font-size: 22px;
    width: 100%;
    border-bottom: 1px solid grey;
    margin: 0px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
    font-weight: 350;
}

.section-field,.project-heading {
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px
}

.section-field{
    justify-content: space-between;
}

.project-heading{
    justify-content: left;
    gap: 2px;
    margin-top: 5px;
}

.section-container {
    margin-top: 5px;
}


ul {
    margin-top: 5px;
    padding: 0px;
    padding-left: 15px;
    margin: 0px;
}