.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 3px;
}

a {
    color: black;
}

.content {
    margin: 15px;
}
.heading {
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid;
    margin: 0px;
}