@media print {
  /* Hide UI */
  header,
  .builder,
  .print-btn {
    display: none !important;
  }

  /* Remove layout-only borders */
  .App,
  .Content {
    border: none !important;
    box-shadow: none !important;
  }

  /* KEEP resume borders */
  .print-area * {
    box-shadow: none; /* optional */
  }
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman", sans-serif;
  margin: 0px;
  min-width: max-content;
  font-size: 17px;
}

.content {
  margin: 10px;
  
}

.print-area{
   height: 11in;
  overflow: hidden;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

