@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  margin: 0px;
  min-width: max-content;
}

.content {
  margin: 10px;
  
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

