

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman", sans-serif;
  margin: 0px;
  min-width: max-content;
  font-size: 17px;
}

.content {
  margin: 10px;
  
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

