@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0px;
  min-width: max-content;
}

.content {
  margin: 10px;
  
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

